body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

#progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0;
    background: #0f0;
    transition: width .2s ease-in-out;
    box-shadow: 0 0 10px #0f0;
}

#progress.done {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

main {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#run {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bolder;
    font-family: sans-serif;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    box-shadow: 0 0 0 white;
}

#run:hover {
    background: #fff;
    color: #000;
}

#run.running {
    background: #fff;
    color: #000;
    pointer-events: none;
}

#run.done {
    color: #000;
    background: lime;
    border-color: lime;
    box-shadow: 0 0 10px lime;
    pointer-events: none;
}

